.footer {
  background: linear-gradient(to bottom, white, #174329);
  color: white;
  padding: 20px;
  text-align: center;
  width: 100vw; /* Use viewport width to cover the entire screen */
  box-sizing: border-box;
  margin: 0; /* Remove any default margin */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; /* Ensure content spans full footer width */
  max-width: none; /* Remove previous max-width */
  margin: 0; /* Remove default margin */
  padding: 0; /* Optional: remove padding if you want content flush */
}

.footer-content > div {
  flex: 1;
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}

.footer h3,
.footer h4,
.footer p {
  color: white;
  margin: 5px 0;
}

.map-container {
  display: flex;
  justify-content: center;
}

#map {
  border-radius: 10%;
  box-shadow: 0 0 10px 2px rgb(255, 255, 255);
}

#yvc_logo {
  border-radius: 10%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Stack items vertically on smaller screens */
    text-align: center; /* Center text for smaller screens */
  }

  .footer-content > div {
    margin-bottom: 20px; /* Adjust margin for smaller screens */
  }
}

