--extra-index-url https://download.pytorch.org/whl/cpu
numpy<2
torch==2.3.1+cpu
torchvision==0.18.1+cpu
ultralytics==8.2.0
flask
flask-cors
flask-mail
Pillow
requests
google-generativeai
python-dotenv
huggingface_hub
gevent