--extra-index-url https://download.pytorch.org/whl/cpu
numpy<2
torch==2.2.0+cpu
torchvision==0.17.0+cpu
ultralytics==8.2.0
flask
flask-cors
flask-mail
Pillow
requests
google-generativeai
python-dotenv
huggingface_hub
