.manual-container {
  padding: 2%;
  margin-top: 7%;
}

.overlay {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.manual-container h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.manual-container p {
  font-size: 1.5em;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .manual-container {
    padding: 10px; /* Adjust padding for smaller screens */
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .overlay {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .manual-container h1 {
    font-size: 2em; /* Adjust font size for smaller screens */
  }

  .manual-container p {
    font-size: 1.2em; /* Adjust font size for smaller screens */
  }
}
