@import "./components/navbar.css";
@import "./components/footer.css";
@import "./pages/home.css";
@import "./pages/model.css";
@import "./pages/not-found.css";
@import "./model/generated-data.css";
@import "./model/generated-meal.css";
@import "./model/manualbox.css";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* This prevents horizontal scroll */
  background-color: #191b31;
  color: #ffc107;
  font-family: Arial, sans-serif;
  text-align: center;
}

#app {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #ffc107; /* Apply primary theme color to text */
  background-color: #191b31; /* Subtle frosted background */
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* links/buttons use theme color */
a,
button {
  color: #ffc107;
}

button {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #ffc107;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ffc107;
  color: black;
}

#myfooter {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px;
  color: #ffc107;
}
